/* telefon */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.news-btn{
    background-color: #006ec9;
    border:#006ec9 3px solid;
    border-radius: 32.5px;
    max-width: 250px;
    width: 65%;
    height: 65px;
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    margin: 10px;
    color: white;
    transition: 0.45s;
}
.news-btn:hover{
    border: white 3px solid;
    background-color: #3a91d8;
    color: rgb(39, 39, 39);
    cursor: pointer;
    transition: 0.45s;
    width: 67%;
    max-width: 260px;
}
[class*="col-"] {
    float: left;
    width: 100%;
  }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    p,a{
        text-decoration: none;
        color: black;
    }
    body{
        background-color: #2186b1;
    }
    header,footer{
        
        background-color: #5293af;
        width: 100%;
        color: white;
        font-family: 'Kanit', sans-serif;
    }
    nav{
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .menu-btn {
        z-index: 3;
    }
    
    menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background:#2186b1;	
        transform: translateX(100%);
        z-index: 2;
        transition: .3s ease-in-out;
    }
    
    menu ul a {
        display: list-item;
        list-style: none;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 3px;
        font-family: 'Kanit', sans-serif;
        color: white;
        background-color: rgb(81, 151, 180); 
    }
    menu ul a:hover {
        background-color: #81c2db;
    }
    
    #close {
        background-color: rgba(15, 101, 138, 0.842); 
        float: right;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 4;
        border-style: none; 
    }
    
    
    .img{
        padding-top: 5px;
        width: 25px;
        height: 30px;
    }
    .img_list{
        margin: 5px;
        padding: 5px;
        width: 40px;
        height: 30px;
        border-radius: 10px;
        transition: 0.2s ease-in-out;
    }
    .img_list:hover{
        border: white solid 2px;
        border-radius: 15px;
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }
    .img_list_close{
        
        width: 36px;
        height: 36px;
    }
    .freemenu{
        margin: 5px;
        float: right;
        display: flex;
    }
    .title{
        font-family: 'Kanit', sans-serif;
        color: white;
        font-size: larger;
    }
    .tyuloly{
        font-family: 'Sriracha', cursive;
        font-size: 60px;
        text-align: center;
        color: white;
        -webkit-text-stroke: 1.8px rgb(0, 0, 0);
        
     
    }
    .yt_logo{
        width: 145px;
        height: 100px;
    
    }
    .yt{
        display: flex;
        justify-content: center;
    }
    .hr{
        width: 100%;
        height: 8px;
        background-color: #004763;
        border-style:none;
    }
    .hr_l{
        width: 100%;
        height: 12px;
        background-color: #4d0180;
        border-style: none;
    }
    .hr1{
        width: 100%;
        height: 4px;
        background-color: #002433;
        border-style:none;
    }
    
    .kiscim{
        font-family:'Kanit', sans-serif;
        font-size: 25px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        list-style-image:url(img/arrow.png);
        padding-top: 0%;
    
    }
    div>a{
        color: #006ec9;
        text-decoration: none;
    }
    .text{
        font-family:'Kanit', sans-serif;
        font-size: 20px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 0%;
    }
    #hatter{
        background-image: url(img/csampynyúl.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 25%;
        width: 100%;
        height: calc(width/2);
        
    }
    #hatter_álat{
        background-image: url(img/állat.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        
        width: 100%;
        height: calc(width/2);
        
    }
    #story{
        background-image: url(img/story_wide.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 70px;
        padding-bottom: 65px;
        width: 100%;
        height: calc(width/2);
    }
    #hatter_nyelv{
        background-image: url(img/nyekv_hatter.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 80px;
        width: 100%;
        height: calc(width/2);
    }
    #hatter_news{
        background-image: url(img/news.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
    }
    #hatter_img{
        background-image: url(img/galeri.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        height: calc(width/2);
    }
    
    .description{
        color: black;
        font-family:'Kanit', sans-serif;
        font-size: 18px;
        padding-left: 10px;    
        padding-right: 10px ;
        overflow-wrap: break-word;
    }
    
    .nev{
        font-family: 'Sriracha', cursive;
        font-size: 34px;
        text-align: center;
        color: white;
        -webkit-text-stroke: 2px rgb(0, 0, 0);
        overflow-wrap: break-word;
    
    }
    
    .szövegháttér{
        background-color: #81c2db;
    }
    .képdoboz{
        background-color: #5293af;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 100%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border: 7px #004763 solid;
        border-radius: 10px;
    }
    .képdoboz_l{
        background-color: #6f4493;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 100%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border: 7px #4d0180 solid;
        border-radius: 10px;
    }

    .bla{
        font-family:'Kanit', sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        list-style-image:url(img/arrow.png)
    }
    #nyúl{
        background-image: url(img/csampynyúl.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        padding-top: 300px;
        border: #004763 3px solid;
    }
    #szekrény{
        background-image: url(img/szekrénylepény.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px;
        border: #004763 3px solid;
    }
    
    #mpf{
        background-image: url(img/mpf.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border: #004763 3px solid;
    }
    #bb{
        background-image: url(img/bb.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #004763 3px solid;
    }
    #rezső{
        background-image: url(img/rezső.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #004763 3px solid;
    }
    #trezső{
        background-image: url(img/trezső.jpg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #004763 3px solid;
    }
    #bumbu{
        background-image: url(img/bumbu.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #004763 3px solid;
    }
    #eb{
        background-image: url(img/eb.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #004763 3px solid;
    }
    #hülyecs{
        background-image: url(img/hülyecs.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #004763 3px solid;
    }
    #dr_mikro{
        background-image: url(img/dr_mikro.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #4d0180 3px solid;
    } 
    #gkazoo{
        background-image: url(img/gkazoo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #591abe 3px solid;
    }
    #kazook{
        background-image: url(img/kazook.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #591abe 3px solid;
    }
    #b_manok{
        background-image: url(img/b_manók.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        border: #591abe 3px solid;
    }
    #mainkep{
        display: none;
    }
    #mainkep_csk{
        display: none;
    }
    #mainkep_csny{
        display: none;
    }
    #b_kep{
        border: 7px white solid;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    .bkep_outer{
        background-color: #5293af;
        border: 3px solid #004763;
        border-radius: 10px;
        margin: 0px 5px;
        margin-bottom: 10px;
    }
    .bkep_out1{
        padding: 30px 2% 0px;
    }
    .bkep_out2{
        padding: 10px 5% 30px 5%;
    }
/*tablet, telefonfekvő*/
@media only screen and (min-width: 500px ){
    *{
        padding: 0;
        margin: 0;
        
    }
        .col-m-1 {width: 8.33%;}
        .col-m-2 {width: 16.66%;}
        .col-m-3 {width: 25%;}
        .col-m-4 {width: 33.33%;}
        .col-m-5 {width: 41.66%;}
        .col-m-6 {width: 50%;}
        .col-m-7 {width: 58.33%;}
        .col-m-8 {width: 66.66%;}
        .col-m-9 {width: 75%;}
        .col-m-10 {width: 83.33%;}
        .col-m-11 {width: 91.66%;}
        .col-m-12 {width: 100%;}
      
    p,a{
        text-decoration: none;
        color: black;
    }
    
 
    nav{
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .menu-btn {
        z-index: 3;
    }
    
    menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background:#2186b1;	
        transform: translateX(100%);
        z-index: 2;
        margin-left: 25%;
        transition: .3s ease-in-out;
    }
    
    menu ul a {
        display: list-item;
        list-style: none;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 3px;
        font-family: 'Kanit', sans-serif;
        color: white;
        background-color: rgb(81, 151, 180); 
    }
    
    #close {
        background-color: rgba(15, 101, 138, 0.842); 
        float: right;
        margin-right: 25%;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 4;
        border-style: none; 
    }
    

    
    .tyuloly{
        font-family: 'Sriracha', cursive;
        font-size: 60px;
        text-align: center;
        color: white;
        -webkit-text-stroke: 1.8px rgb(0, 0, 0);
        
     
    }
    .yt_logo{
        width: 145px;
        height: 100px;
    
    }
    .yt{
        display: flex;
        justify-content: center;
      
    }
    .hr{
        width: 100%;
        height: 8px;
        background-color: #004763;
        border-style:none;
    }
    .hr_l{
        width: 100%;
        height: 12px;
        background-color: #260063;
        border-style:none;
    }
    .hr1{
        width: 100%;
        height: 4px;
        background-color: #002433;
        border-style:none;
    }
    
    .kiscim{
        font-family:'Kanit', sans-serif;
        font-size: 25px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        list-style-image:url(img/arrow.png);
        padding-top: 0%;
    
    }
    span>a{
        color: #006ec9;
        text-decoration: none;
    }
    .text{
        font-family:'Kanit', sans-serif;
        font-size: 19px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    
    }
    #hatter{
        background-image: url(img/csampynyúl.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30%;
        width: 100%;
        height: calc(width/2);
        
    }
    #hatter_álat{
        background-image: url(img/állat.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 140px;
        width: 100%;
        height: calc(width/2);
        
    }
    #story{
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 70px;
        padding-bottom: 65px;
        width: 100%;
        height: calc(width/2);
    }
    #hatter_nyelv{
        background-image: url(img/nyekv_hatter.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 80px;
        width: 100%;
        height: calc(width/2);
    }
    #hatter_img{
        background-image: url(img/galeri.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        height: calc(width/2);
    }
    
    
    
    .szövegháttér{
        background-color: #81c2db;
    }
    
    .bla{
        font-family:'Kanit', sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        list-style-image:url(img/arrow.png)
    }
    
 

    
    
}
/*tablet, telefonfekvő*/
@media only screen and (min-width: 650px ){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
   .p{
    display: none;
   }
   .t{
    padding-top: 5%
   }
    menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background:#2186b1;	
        transform: translateX(100%);
        z-index: 2;
        margin-left: 60%;
        transition: .3s ease-in-out;
    }
    
    menu ul a {
        display: list-item;
        list-style: none;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 3px;
        font-family: 'Kanit', sans-serif;
        color: white;
        background-color: rgb(81, 151, 180); 
    }
    
    #close {
        background-color: rgba(15, 101, 138, 0.842); 
        float: right;
        margin-right: 60%;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 4;
        border-style: none; 
    }
    .description{
        font-size: 20px;
    }
    .text{
        font-size: 18px;
        
    }
    .desc{
        height: 50px;
    }
    .nev{
        font-family: 'Sriracha', cursive;
        font-size: 38px;
        text-align: center;
        color: white;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        overflow-wrap: break-word;
    
    }
    #mainkep{
        display: block;
        background-image: url(img/mainkep.jpg);
        background-position: center;
        background-repeat: no-repeat;
        border: 4px solid #006ec9;
        border-radius: 3px;
        background-size: cover;
        height: 300px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #mainkep_csk{
        display: block;
        background-image: url(img/csk.JPG);
        background-position: center;
        background-repeat: no-repeat;
        border: 4px solid #006ec9;
        border-radius: 3px;
        background-size: cover;
        height: 300px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    #mainkep_csny{
        display: block;
        background-image: url(img/P1120226.JPG);
        background-position: center;
        background-repeat: no-repeat;
        border: 4px solid #006ec9;
        border-radius: 3px;
        background-size: cover;
        height: 300px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #hatter{
        background-image: url(img/nagysziget.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 60px;
        width: 100%;
        height: calc(width/2);
        
    }
    #hatter_álat{
        background-image: url(img/állat.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 50px;
        width: 100%;
        height: calc(width/2);
        
    }
    #story{
        background-image: url(img/story_wide.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 105px;
        width: 100%;
    }
    #hatter_nyelv{
        background-image: url(img/nyelv_hatter_széles.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 80px;
        width: 100%;
        height: calc(width/2);
    }
    #hatter_img{
        background-image: url(img/galeri.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        height: calc(width/2);
    }
    
 
    .képdoboz{
        background-color: #5293af;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 750px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border: 7px #004763 solid;
        border-radius: 10px;
    }
    .képdoboz_l{
        background-color: #6f4493;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 750px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border: 7px #4d0180 solid;
        border-radius: 10px;
    }
    
    .szövegháttér{
        background-color: #81c2db;
    }
    
    .bla{
        font-family:'Kanit', sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        list-style-image:url(img/arrow.png)
    }
    #nyúl{
        background-image: url(img/csampynyúl.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        padding-top: 0px;
        border: #004763 3px solid;
    }
    #szekrény{
        background-image: url(img/szekrénylepény.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #004763 3px solid;
    }
    
    
    #mpf{
        background-image: url(img/mpf.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        width: calc(100%-3px);
        padding-top: 30px;
    
    }
    
    
    #bb{
        background-image: url(img/bb.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #004763 3px solid;
    }
    
    #rezső{
        background-image: url(img/rezső.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #004763 3px solid;
    }
    
    #trezső{
        background-image: url(img/trezső.jpg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #004763 3px solid;
    }
    #bumbu{
        background-image: url(img/bumbu.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #004763 3px solid;
    }
    
    #eb{
        background-image: url(img/eb.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #004763 3px solid;
    }
    #hülyecs{
        background-image: url(img/hülyecs.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #004763 3px solid;
        
    }
    
    
    
    
    #dr_mikro{
        background-image: url(img/dr_mikro.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #591abe 3px solid;
    }
    
    #gkazoo{
        background-image: url(img/gkazoo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #591abe 3px solid;
    }
    
    #kazook{
        background-image: url(img/kazook.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #591abe 3px solid;
    }
    
    #b_manok{
        background-image: url(img/b_manók.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        border: #591abe 3px solid;
    }
}
/*számító, tabletfekvő*/
@media only screen and (min-width: 1200px ){
 
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
   
    
    header,footer{
        
        background-color: #5293af;
        width: 100%;
        color: white;
        font-family: 'Kanit', sans-serif;
        font-size: larger;
    }
    nav{
        display: flex;
        height: 65px;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .menu-btn {
        z-index: 3;
    }
    
    menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background:#2186b1;	
        transform: translateX(100%);
        z-index: 2;
        margin-left: 75%;
        transition: .3s ease-in-out;
    }
    
    menu ul a {
        display: list-item;
        list-style: none;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 3px;
        font-family: 'Kanit', sans-serif;
        color: white;
        background-color: rgb(81, 151, 180); 
    }
    
    #close {
        background-color: rgba(15, 101, 138, 0.842); 
        float: right;
        margin-right: 75%;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 4;
        border-style: none; 
    }
    
    #mainkep{
        
        background-position: center;
        background-repeat: no-repeat;
        border: 4px solid #006ec9;
        float: right;
        background-size: cover;
        height: 400px;
        width: 100%;
    }
    #mainkep_csk{
       
        background-image: url(img/csk.JPG);
        background-position: top;
        background-repeat: no-repeat;
        border: 4px solid #006ec9;
        float: right;
        background-size: cover;
        height: 400px;
        width: 100%;
    }
    #mainkep_csny{
      
        background-image: url(img/P1120226.JPG);
        background-position: center;
        background-repeat: no-repeat;
        border: 4px solid #006ec9;
        float: right;
        background-size: cover;
        height: 400px;
        width: 100%;
    }
    .title{
        font-family: 'Kanit', sans-serif;
        color: white;
        font-size: larger;
    }
    .tyuloly{
        font-family: 'Sriracha', cursive;
        font-size: 72px;
        text-align: center;
        color: white;
        -webkit-text-stroke: 1.8px rgb(0, 0, 0);
        
     
    }
    .yt_logo{
        width: 145px;
        height: 100px;
    
    }
    .yt{
        display: flex;
        justify-content: center;
      
    }
    .hr{
        width: 100%;
        height: 8px;
        background-color: #004763;
        border-style:none;
    }
    .hr_l{
        width: 100%;
        height: 12px;
        background-color: #260063;
        border-style:none;
    }
    .hr1{
        width: 100%;
        height: 4px;
        background-color: #002433;
        border-style:none;
    }
    
    .kiscim{
        font-family:'Kanit', sans-serif;
        font-size: 25px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        list-style-image:url(img/arrow.png);
    
    }
    span>a{
        color: #006ec9;
        text-decoration: none;
    }
    .text{
        font-size: 22px;
    }
    .desc{
        height: 60px}
    #hatter{
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        height: calc(width/2);
        
    }
    #hatter_álat{
        background-image: url(img/állat.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 50px;
        width: 100%;
        height: calc(width/2);
        
    }
    #story{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 120px;
        padding-top: 120px;
        width: 100%;
    }
    #hatter_nyelv{
        background-image: url(img/nyelv_hatter_széles.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 60px;
        padding-bottom: 60px;
        width: 100%;
        height: 270px;
    }
    #hatter_img{
        background-image: url(img/galeri.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        height: calc(width/2);
    }
    
    .szövegháttér{
        background-color: #81c2db;
    }
    
    .bla{
        font-family:'Kanit', sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        list-style-image:url(img/arrow.png)
    }
    
  
    
    
}
@media only screen and (min-width: 1920px ){
    .text{
        font-size: 28px;
    }
    .description{
        font-size: 30px;
    }
    .img{
        width: 40px;
        height: 45px;
    }
    .img_list{
        width: 35px;
        height: 25px;
    }
    .title{
        font-size: 36px;
    }
    #hatter{
    padding-top: 100px;
    padding-bottom: 100px;
    }
}    
